body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "instructions main recommendation"
    "footer footer footer";
    height: 100vh;
    margin: 0;
    grid-gap: 5px;
    font-family: Helvetica;
}
#main {
    grid-area: main;
    align-content:center;
    justify-content: center;
    background-color: blanchedalmond;
    margin: 10px;
}

.instructions {
    grid-area: instructions;
    align-items: center;
    background-color:rgb(136, 206, 234);
    margin: 10px;
}

.recommendation {
    grid-area: recommendation;
    background-color: rgb(15, 143, 186);
    margin: 10px;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    background-color: peachpuff;
    margin: 10px;
    align-items: center;
}

#moonSvg {
    height:4rem;
    width:4rem;
}

footer {
    grid-area: footer;
    /* align-items: center;
    justify-content: center;
    display: flex;
    width: 100%; */
    background-color: rgba(3, 183, 183, 0.391);
    margin: 10px;
}
