body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 2fr 2fr 2fr 20px;
    grid-template-areas: 
    "nav"
    "instructions"
    "main" 
    "recommendation"
    "footer";
    margin: auto;
    grid-gap: 2px;
    font-family: "Gentium Plus";
    align-content: center;
    background-color:#edca82;
}

.instructions {
    grid-area: instructions;
    background-color:#a9c0a6;
    margin: 10px;
    align-items: center;
    justify-items: left;
    /* align-content: ;
    justify-content: ; */
    height: 100%;
    color: #084843;
    text-align: left;
}

#main {
    grid-area: main;
    background-color: #097770;
    margin: 5px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    color:#beebe8;
    text-align: center;
}

.recommendation {
    grid-area: recommendation;
    background-color: #e0cdbe;
    margin: 5px;
    align-items:center;
    justify-items: center;
    align-content:center;
    justify-content: center;
    height: 100%;
    color: #084843;
    text-align: center;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5px;
    background-color: #edca82;
    margin: 5px;
    align-items: center;
    color: #084843;
}

#moonSvg {
    height:4rem;
    width:4rem;
}

footer {
    grid-area: footer;
    background-color: #edca82;
    margin: 2px;
    align-items: center;
    justify-items: center;
    color: #084843;
    display: flex;
    justify-content: space-evenly;
}

#moonPhases {
    height: 14rem;
    width: 29rem;
    align-items: center;
    justify-items: center;
    margin: 20px 2px 20px 2px;
}

.conversion {
    align-content: center;
    justify-content: center;
    text-align: left;
    margin: 10px;
}

.decipher {
    text-align: left;
    margin: 10px;
}
.plot {
    height: 14rem;
    width: 29rem;
    align-items: center;
    justify-items: center;
    margin: 20px 2px 20px 2px;
}

@media only screen and (min-width: 768px) {
    body {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50px 2fr 20px;
      grid-template-areas: 
        "nav nav nav"
        "instructions main recommendation"
        "footer footer footer";
      background-color: #edca82;
      color: #084843;
    }
  }
  